@{
    ViewBag.Title = "Translation";
}
@using System.Xml;

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-center">
                @(ViewBag.productId).xml
            </h3>
        </div>
    </div>
        <form action='@Url.Action("TranslateProduct")' method="POST">
            <input type="hidden" name="productId" value="@ViewBag.productId">
            <input type="hidden" name="input_languageId" id="input_languageId">

           
            <div class="row">
                <div class="col-lg-6">
                    <div class="languages">TRANSLATION FOR</div>
                </div>
                <div class="col-lg-6">
                    <div class="translation">
                        <div class="select-custom">
                            <select id="destination" required name="languageId">
                                <option disabled selected>Select a language</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>


           
                    @for (int i = 0; i < ViewBag.forms.Count; i++)
                    {
                        if (ViewBag.sections.Count > ViewBag.forms.Count+1 && ViewBag.sections[i].ToString() != "")
                        {
                             <div class="row">
                                  <div class="col-lg-12">
                                      <div class="section"> <strong>SECTION @ViewBag.sections[i]</strong> </div>
                                  </div>
                             </div>
                        }
                        <div class="row">
                             <div class="col-lg-6">
                                <div id='content@(i)' class="content-to-translate">
                                   @ViewBag.forms[i]
                                </div>
                             </div>
                            <div id="div@(i)" class="col-lg-6"></div>
                       </div>

                    <script>

                           var textarea = $('<textarea>').addClass('form-control translation')
                           var height = $('#content@(i)').height()
                           textarea.height(height + 20) // Because of the padding in css class
                           textarea.attr('name', 'translation@(i)')
                           textarea.attr('required','required')
                           $('#div@(i)').append(textarea)
                    </script>
                    }


                <button type='button' id='modalButton' class="square-button"><i class="fa fa-check"></i> Validate</button>
</form>

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="modalContent"></p>
                    </div>
                    <div class="modal-footer">
                        <button id='submit' class="btn btn-default" type="submit">Translate</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
   </div>
</div>

<script>

$('#submit').click(function () {
  $('form').submit()
})

    $('#modalButton').click(function () {
        var res = true;
        $('textarea').each(function () {
            $(this).removeClass('error')
            if ($(this).val()) {
                if ((/^-?\d*(\.\d+)?$/.test($(this).val()))) {
                    $(this).addClass('error')
                    $('.modal-title').text('Something went wrong')
                    $('#modalContent').html('<i class="fa fa-warning"></i> Numbers are not a translation.')
                    $('.modal-footer').hide()
                    $("#myModal").modal()
                    res = false
                    return false
                } else if ($(this).val().length < 3) {
                    $(this).addClass('error')
                    $('.modal-title').text('Something went wrong')
                    $('#modalContent').html('<i class="fa fa-warning"></i> Translations require at least 3 characters.')
                    $('.modal-footer').hide()
                    $("#myModal").modal()
                    res = false
                    return false
                }
            } else {
                $(this).addClass('error')
                $('.modal-title').text('Something went wrong')
                $('#modalContent').html('<i class="fa fa-warning"></i> Some fields are empty.')
                $('.modal-footer').hide()
                $("#myModal").modal()
                res = false
                return false
            }
        });
        if (res) {
            $('.modal-title').text('Warning')
            $('#modalContent').html('If this datasheet was already translated, it will erase it.<span id="conditiontrue"></span> ')
            $('.modal-footer').show()
            $("#myModal").modal()
            @if (ViewBag.dependencies.Count > 0)
            {
                   <text>  $('#conditiontrue').html("<br> <hr> <strong class='text-center'><i class='fa fa-warning'></i> Caution: This datasheet includes libraries. You will have to translate them if it is not already done. <br> </strong> <br> <i>Please save the name of these following files</i> <br><hr> <ul id='requirements'></ul>") </text>
            }
            @for (int i = 0; i < ViewBag.dependencies.Count; i++)
            {
                 <text>  $('#requirements').append( $('<ul>').text("@ViewBag.dependencies[i].Remove(ViewBag.dependencies[i].Length - 4)") ) </text>
            }

        }
    })



           var isoCountries = [
           @foreach (XmlNode node in ViewBag.languages)
           {
            @:{ id: '@node.Attributes["id"].Value', text: '@node.Attributes["name"].Value' },
           }
           ]


           function formatCountry(country) {
               if (!country.id) { return country.text; }
               var $country = $(
                   '<span class="flag-icon flag-icon-' + country.id.toLowerCase() + ' flag-icon-squared"></span>' +
                   '<span class="flag-text">' + country.text + "</span>"
               );
               return $country;
           }



            $("[name='languageId']").select2().on("change", function (e) {
                $('#input_languageId').val($(this).val())
           })


            $(document).ready(function () {
                $("[name='languageId']").select2({
                    placeholder: "Select a country",
                    templateResult: formatCountry,
                    data: isoCountries
                });
                $("[name='languageId']").val('@ViewBag.languageId').trigger('change');
            });



</script>

